@inherits LayoutComponentBase

<div class="main_container"> 
    <UiSideBar/>
    <div class="secondary_container">
        <UiTop/>
        <div class="content">
            @Body
        </div>
    </div>
</div>
